extends layout

block content
    header
        h1 RESTFUL API ANIME
    div(class="container")  
        div(class='Formulario')
                form(method ="post" action="users")
                    div(class="form-group")
                        label(for="nombre" class="form") Nombre del anime:
                        input#user(type="text", name="nombre",class="form-control",required)
                    div(class="form-group")
                        label(for="genero" class="form") Genero del anime:
                        input#user(type="text", name="genero",class="form-control")
                    div(class="form-group")
                        label(for="cantidad_t" class="form") Temporadas:
                        input#user(type="text", name="cantidad_t",class="form-control")
                    div(class="form-group")
                        label(for="cantidad_e" class="form") Capitulos:
                        input#user(type="text", name="cantidad_e",class="form-control")
                    div(class="form-group")
                        label( for="descripcion") Descripcion:
                        textarea(class="form-control" id="descripcion" rows="3")
                    div(class="form-check")
                        input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" )      
                        label(class="form-check-label" for="exampleRadios1") Terminado
                    input(id="boton" type="submit" value="registrar")    

